# Исключение виртуального окружения
venv/

# Исключение скомпилированных файлов Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключение временных и лог-файлов
*.log
*.tmp

# Исключение папок с данными и весами моделей
data_folder/
weights/

# Исключение скрытых системных файлов и директорий
.*  # Все скрытые файлы, например .git, .pylintrc и т.д.

# Исключение кэш-директории
.cache/

# Исключение дополнительных файлов
.DS_Store  # для macOS

# Исключение специфических файлов/каталогов вашего проекта
nb/
tests/
.pylintrc
.git
